@import "assets/scss/_breakpoints.scss";

.products-container {
  display: flex;
  @include xm {
    flex-direction: column;
  }
  .products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 8px 0 1rem 8px;
    grid-column-gap: 4px;
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include xm {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
